.info-panel {
  padding: 15px;
  padding-left: 30px;

  &__stats {
    margin-bottom: 20px;
  }

  &__text {
    margin: 0;

    font-size: 32px;
  }
}

@media #{$tablet-width} {
  .info-panel {
    &__text {
      font-size: 22px;
    }
  }
}

@media #{$mobile-width} {
  .info-panel {
    text-align: center;

    &__text {
      font-size: 42px;
    }

    &__btn {
      font-size: 30px;
    }
  }
}
