.tabletop {
  height: 100%;
  min-height: 390px;

  padding: 30px;

  background-image: url('img/wood.png');
  background-color: #db8b00;

  border-radius: 40px;

  box-shadow: 0 0 10px 5px rgba(0, 0, 0, .7);
}
